body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: "DM Sans", sans-serif;
}

#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: relative;
}

.card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 30px 60px rgba(74, 114, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #333;
    font-family: "DM Sans", sans-serif;
    position: relative;
    overflow: hidden;
}

.macos {
    display: flex;
    gap: 8px;
    padding: 10px;
    justify-content: flex-start;
    position: absolute;
    top: 10px;
    left: 10px;
}

.macos span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.close {
    background-color: #ff5f57;
}

.minimize {
    background-color: #ffbd2e;
}

.maximize {
    background-color: #28c840;
}

.card h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}

.card input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

.card button {
    border: none;
    padding: 7px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    transition: transform 0.2s ease;
}

.card button:active {
    transform: scale(0.95);
}


.btn-yes,
.btn-submit {
    background: linear-gradient(45deg, #34D399, #059669);
    margin-right: 14px;
}

.btn-no {
    background: linear-gradient(45deg, #F87171, #EF4444);
}

.btn-back {
    background: linear-gradient(45deg, #F87171, #EF4444);
}


.button-container {
    display: flex;
    justify-content: center;
}


#closeButton {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff4444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cardquote {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 30px 60px rgba(74, 114, 255, 0.25);
    text-align: center;
    color: #333;
    font-family: "DM Sans", sans-serif;
    position: relative;
}


/* Responsif */
@media (max-width: 600px) {

    .card,
    #cardquote {
        max-width: 90%;

        padding: 15px;
    }

    .macos span {
        width: 10px;
        height: 10px;
    }

    .card h2 {
        font-size: 18px;
    }

    .card button {
        padding: 7px 15px;
        font-size: 0.9rem;
    }

    .button-container {
        flex-direction: column;
    }

    .btn-yes,
    .btn-no {
        margin: 5px 0;
    }
}
